#calender {
  width: 500px;
  height: 250px;
  background-color: rgb(172, 146, 204);
  /*color: #fff;*/
/*  border-radius: 5%; */
  box-shadow: 10px 10px 5px 5px;
  align-self: center;
  position: relative;
}

#calender>p{
  font-family: Times;
  margin: 0;
  color: black;
  outline: 2px solid black;
  text-align: center;
}

#calenderDay{
  font-size: 50px;
}

#calenderMonthYear{
  font-size: 65px;
  /* aligns to bottom-center*/
  width: 100%;
  padding-top: 0;
  position: absolute;
  bottom: 0;

}

#calenderDate{
  font-size: 100px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.bDay {
  position: relative;
  padding-top: 30px;
  font-size: 30px;
  font-family: Times;
}

.bDay>p {
  font-family: Times;
  font: 30px;
}

.history {
  position: relative;
  font-size: 30px;
  font-family: Times;
}
